In [5]:
import numpy as np
import pandas as pd

def openDataFrame(path):
    return pd.read_csv(path, on_bad_lines='skip', encoding = "utf-8")

def findMissings(df):
    print('missings_area: ', df['area'].isna().sum())
    print('missings_category: ', df['category'].isna().sum())

In [6]:
df_total = openDataFrame('auction-items-nonan.csv')
df_total

,Unnamed: 0.1,Unnamed: 0,save_date,court_name,court_office,case_number,case_itemNum,casedate_full,casedate_year,casedate_month,...,address_gugun,address_donggil,address_jibeon,area,area_py,price_estimate,price_bidding,discount_rate,number_miss,sale_type
0,0,0,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경5285,1.0,2023-03-28,2023,3,...,관악구,신림동,103-260,132.0000,39.9,799510100,511686000,37,2,일괄매각
1,1,1,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경8383,1.0,2023-03-28,2023,3,...,강남구,언주로81길,31,84.9700,25.7,859000000,859000000,0,0,NaN
2,2,2,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경104335,1.0,2023-03-28,2023,3,...,종로구,평창동,537-12,1021.0000,308.9,653440000,214120000,68,5,NaN
3,3,3,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경6512,1.0,2023-03-23,2023,3,...,종로구,성균관로17길,37,55.9500,16.9,260000000,68158000,74,6,NaN
4,4,4,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경109176,NaN,2023-03-23,2023,3,...,중구,다산로4길,20,28.0530,8.5,352300000,59106000,84,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5807,5807,5851,2023-03-22-191924,제주지방법원,경매6계,2022타경24829,1.0,2023-03-28,2023,3,...,서귀포시,서호동,130-7,231.0000,69.9,36330348,36330348,0,0,NaN
5808,5808,5853,2023-03-22-191924,제주지방법원,경매4계,2022타경25129,1.0,2023-03-28,2023,3,...,서귀포시,법환로,12,84.6899,25.6,443000000,310100000,30,1,NaN
5809,5809,5854,2023-03-22-191924,제주지방법원,경매6계,2022타경25143,1.0,2023-03-28,2023,3,...,서귀포시,서문로,42-1,17.8200,5.4,131000000,131000000,0,0,NaN
5810,5810,5855,2023-03-22-191924,제주지방법원,경매6계,2022타경25143,2.0,2023-03-28,2023,3,...,서귀포시,신중남로,23-2,83.6620,25.3,390000000,390000000,0,0,NaN
5811,5811,5859,2023-03-22-191924,제주지방법원,경매4계,2022타경26726,1.0,2023-03-28,2023,3,...,서귀포시,안덕면,서광리,2767.0000,837.0,1392588000,1392588000,0,0,NaN

# 변수 설명

In [7]:
df_total.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'save_date', 'court_name', 'court_office',
       'case_number', 'case_itemNum', 'casedate_full', 'casedate_year',
       'casedate_month', 'casedate_date', 'casedate_day', 'category',
       'address_full', 'address_sido', 'address_gugun', 'address_donggil',
       'address_jibeon', 'area', 'area_py', 'price_estimate', 'price_bidding',
       'discount_rate', 'number_miss', 'sale_type'],
      dtype='object')

In [8]:
[
    'save_date', # 데이터 저장일시
     'court_name', # 관할법원명
     'court_office', # 법원담당부서 
     'case_number', # 사건번호
     'casedate_full', # 사건공판일(전체)
     'casedate_year', # 사건공판일(년)
     'casedate_month', # 사건공판일(월)
     'casedate_date', # 사건공판일(일)
     'casedate_day', # 사건공판일(요일)
     'category', # 물건 종류
     'address_full', # 물건 주소(전체)
     'address_sido', # 물건 주소(시도)
     'address_gugun', # 물건 주소(구군)
     'address_donggil', # 물건 주소(동길)
     'address_jibeon', # 물건 주소(지번)
     'area', # 물건 면적(m^2)
     'area_py', # 물건 면적(평)
     'price_estimate', # 물건 감정가
     'price_bidding', # 물건 최저입찰가
     'discount_rate', # 유찰로 인한 할인률
     'number_miss', # 유찰 횟수, 0이면 신건
     'sales_type' # 물건의 일괄(전체)매각/지분(일부)매각 여부 
]

['save_date',
 'court_name',
 'court_office',
 'case_number',
 'casedate_full',
 'casedate_year',
 'casedate_month',
 'casedate_date',
 'casedate_day',
 'category',
 'address_full',
 'address_sido',
 'address_gugun',
 'address_donggil',
 'address_jibeon',
 'area',
 'area_py',
 'price_estimate',
 'price_bidding',
 'discount_rate',
 'number_miss',
 'sales_type']

In [9]:
df = df_total
df

,Unnamed: 0.1,Unnamed: 0,save_date,court_name,court_office,case_number,case_itemNum,casedate_full,casedate_year,casedate_month,...,address_gugun,address_donggil,address_jibeon,area,area_py,price_estimate,price_bidding,discount_rate,number_miss,sale_type
0,0,0,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경5285,1.0,2023-03-28,2023,3,...,관악구,신림동,103-260,132.0000,39.9,799510100,511686000,37,2,일괄매각
1,1,1,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경8383,1.0,2023-03-28,2023,3,...,강남구,언주로81길,31,84.9700,25.7,859000000,859000000,0,0,NaN
2,2,2,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경104335,1.0,2023-03-28,2023,3,...,종로구,평창동,537-12,1021.0000,308.9,653440000,214120000,68,5,NaN
3,3,3,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경6512,1.0,2023-03-23,2023,3,...,종로구,성균관로17길,37,55.9500,16.9,260000000,68158000,74,6,NaN
4,4,4,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경109176,NaN,2023-03-23,2023,3,...,중구,다산로4길,20,28.0530,8.5,352300000,59106000,84,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5807,5807,5851,2023-03-22-191924,제주지방법원,경매6계,2022타경24829,1.0,2023-03-28,2023,3,...,서귀포시,서호동,130-7,231.0000,69.9,36330348,36330348,0,0,NaN
5808,5808,5853,2023-03-22-191924,제주지방법원,경매4계,2022타경25129,1.0,2023-03-28,2023,3,...,서귀포시,법환로,12,84.6899,25.6,443000000,310100000,30,1,NaN
5809,5809,5854,2023-03-22-191924,제주지방법원,경매6계,2022타경25143,1.0,2023-03-28,2023,3,...,서귀포시,서문로,42-1,17.8200,5.4,131000000,131000000,0,0,NaN
5810,5810,5855,2023-03-22-191924,제주지방법원,경매6계,2022타경25143,2.0,2023-03-28,2023,3,...,서귀포시,신중남로,23-2,83.6620,25.3,390000000,390000000,0,0,NaN
5811,5811,5859,2023-03-22-191924,제주지방법원,경매4계,2022타경26726,1.0,2023-03-28,2023,3,...,서귀포시,안덕면,서광리,2767.0000,837.0,1392588000,1392588000,0,0,NaN

In [10]:
df_seoul = df[df['address_sido']=='서울특별시']
df_seoul

,Unnamed: 0.1,Unnamed: 0,save_date,court_name,court_office,case_number,case_itemNum,casedate_full,casedate_year,casedate_month,...,address_gugun,address_donggil,address_jibeon,area,area_py,price_estimate,price_bidding,discount_rate,number_miss,sale_type
0,0,0,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경5285,1.0,2023-03-28,2023,3,...,관악구,신림동,103-260,132.000,39.9,799510100,511686000,37,2,일괄매각
1,1,1,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경8383,1.0,2023-03-28,2023,3,...,강남구,언주로81길,31,84.970,25.7,859000000,859000000,0,0,NaN
2,2,2,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경104335,1.0,2023-03-28,2023,3,...,종로구,평창동,537-12,1021.000,308.9,653440000,214120000,68,5,NaN
3,3,3,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경6512,1.0,2023-03-23,2023,3,...,종로구,성균관로17길,37,55.950,16.9,260000000,68158000,74,6,NaN
4,4,4,2023-03-22-191046,서울중앙지방법원,경매7계,2020타경109176,NaN,2023-03-23,2023,3,...,중구,다산로4길,20,28.053,8.5,352300000,59106000,84,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,745,749,2023-03-22-191046,서울서부지방법원,경매5계,2022타경54732,1.0,2023-03-28,2023,3,...,서대문구,수색로,100,84.950,25.7,1370000000,1370000000,0,0,NaN
746,746,750,2023-03-22-191046,서울서부지방법원,경매5계,2022타경54831,1.0,2023-03-28,2023,3,...,서대문구,홍제천로,16-23,28.710,8.7,205000000,205000000,0,0,NaN
747,747,751,2023-03-22-191046,서울서부지방법원,경매5계,2022타경55193,1.0,2023-03-28,2023,3,...,은평구,연서로16길,19-20,118.000,35.7,1001878000,1001878000,0,0,일괄매각
748,748,752,2023-03-22-191046,서울서부지방법원,경매5계,2022타경55223,1.0,2023-03-28,2023,3,...,서대문구,통일로,357,84.280,25.5,1080000000,1080000000,0,0,NaN
749,749,753,2023-03-22-191046,서울서부지방법원,경매5계,2022타경55315,1.0,2023-03-28,2023,3,...,은평구,은평로8길,9-1,16.650,5.0,169000000,169000000,0,0,NaN

# 바차트: 범주(물건종류)-연속(물건수)

In [11]:
df_seoul['category'].value_counts().index

Index(['다세대', '아파트', '오피스텔', '근린시설', '상가', '기타', '단독주택', '대지', '다가구주택', '임야',
       '연립주택', '전답'],
      dtype='object')

In [12]:
df_seoul['category'].value_counts().values

array([429, 104,  62,  60,  33,  16,  12,  11,   7,   7,   7,   2])

In [13]:
pd.DataFrame({'category': df_seoul['category'].value_counts().index, "Number": df_seoul['category'].value_counts().values})

   category  Number
0       다세대     429
1       아파트     104
2      오피스텔      62
3      근린시설      60
4        상가      33
5        기타      16
6      단독주택      12
7        대지      11
8     다가구주택       7
9        임야       7
10     연립주택       7
11       전답       2

# 바차트: 범주(물건종류)-연속(물건수)

In [14]:
df_total['casedate_full']

0       2023-03-28
1       2023-03-28
2       2023-03-28
3       2023-03-23
4       2023-03-23
           ...
5807    2023-03-28
5808    2023-03-28
5809    2023-03-28
5810    2023-03-28
5811    2023-03-28
Name: casedate_full, Length: 5812, dtype: object

In [15]:
df_total['casedate_full'].value_counts().sort_index()

2023-03-22    539
2023-03-23    701
2023-03-24    223
2023-03-27    910
2023-03-28    838
2023-03-29    291
2023-03-30    287
2023-03-31     84
2023-04-03    913
2023-04-04    642
2023-04-05    384
Name: casedate_full, dtype: int64

In [16]:
df_data_item = pd.DataFrame(df_total['casedate_full'].value_counts().sort_index())
df_data_item

            casedate_full
2023-03-22            539
2023-03-23            701
2023-03-24            223
2023-03-27            910
2023-03-28            838
2023-03-29            291
2023-03-30            287
2023-03-31             84
2023-04-03            913
2023-04-04            642
2023-04-05            384

In [17]:
# 손으로 그린 히스토그램

In [20]:
import plotly.express as px
# Plotly express
fig=px.bar(df_data_item, x='경매공판 기일', y='물건 수')

fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Unnamed: 0.1', 'Unnamed: 0', 'save_date', 'court_name', 'court_office', 'case_number', 'case_itemNum', 'casedate_full', 'casedate_year', 'casedate_month', 'casedate_date', 'casedate_day', 'category', 'address_full', 'address_sido', 'address_gugun', 'address_donggil', 'address_jibeon', 'area', 'area_py', 'price_estimate', 'price_bidding', 'discount_rate', 'number_miss', 'sale_type'] but received: 경매공판 기일

In [21]:
df_total[df_total['category']=='아파트']

,Unnamed: 0.1,Unnamed: 0,save_date,court_name,court_office,case_number,case_itemNum,casedate_full,casedate_year,casedate_month,...,address_gugun,address_donggil,address_jibeon,area,area_py,price_estimate,price_bidding,discount_rate,number_miss,sale_type
1,1,1,2023-03-22-191046,서울중앙지방법원,경매21계,2019타경8383,1.0,2023-03-28,2023,3,...,강남구,언주로81길,31,84.9700,25.7,859000000,859000000,0,0,NaN
13,13,13,2023-03-22-191046,서울중앙지방법원,경매4계,2021타경2739,1.0,2023-03-22,2023,3,...,중구,동호로5길,12,64.0400,19.4,602000000,602000000,0,0,NaN
28,28,28,2023-03-22-191046,서울중앙지방법원,경매21계,2021타경100398,1.0,2023-03-28,2023,3,...,강남구,삼성로,212,104.7100,31.7,2360000000,2360000000,0,0,NaN
40,40,40,2023-03-22-191046,서울중앙지방법원,경매7계,2021타경107535,1.0,2023-03-23,2023,3,...,종로구,지봉로12가길,4,29.7200,9.0,92000000,30146000,68,5,NaN
49,49,49,2023-03-22-191046,서울중앙지방법원,경매7계,2021타경111534,1.0,2023-03-23,2023,3,...,서초구,서초중앙로22길,25,49.9200,15.1,604000000,386560000,36,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5786,5786,5830,2023-03-22-191924,제주지방법원,경매5계,2022타경21240,1.0,2023-04-04,2023,4,...,제주시,독짓골4길,9,56.4900,17.1,25000000,25000000,0,0,지분매각
5789,5789,5833,2023-03-22-191924,제주지방법원,경매5계,2022타경22069,1.0,2023-04-04,2023,4,...,서귀포시,일주동로,8565,60.8541,18.4,280000000,196000000,30,1,NaN
5795,5795,5839,2023-03-22-191924,제주지방법원,경매6계,2022타경23932,1.0,2023-03-28,2023,3,...,제주시,도령로15길,4,23.3700,7.1,64500000,45150000,30,1,NaN
5806,5806,5850,2023-03-22-191924,제주지방법원,경매5계,2022타경24812,1.0,2023-04-04,2023,4,...,제주시,도령북길,7,66.5500,20.1,171000000,171000000,0,0,NaN
5808,5808,5853,2023-03-22-191924,제주지방법원,경매4계,2022타경25129,1.0,2023-03-28,2023,3,...,서귀포시,법환로,12,84.6899,25.6,443000000,310100000,30,1,NaN

In [22]:
df_total[df_total['category']=='아파트']['casedate_full'].value_counts().sort_index()

2023-03-22    138
2023-03-23    139
2023-03-24     47
2023-03-27    154
2023-03-28    124
2023-03-29     94
2023-03-30     65
2023-03-31     28
2023-04-03    182
2023-04-04     93
2023-04-05     76
Name: casedate_full, dtype: int64

In [23]:
df_date_item_apt = pd.DataFrame(df_total[df_total['category']=='아파트']['casedate_full'].value_counts().sort_index())

In [24]:
df_total[df_total['category']=='아파트']['casedate_full'].value_counts().sort_index().values

array([138, 139,  47, 154, 124,  94,  65,  28, 182,  93,  76])

In [25]:
df_date_item['아파트 물건 수'] = df_total[df_total['category']=='아파트']['casedate_full'].value_counts().sort_index().values

NameError: name 'df_date_item' is not defined

In [26]:
df_date_item

NameError: name 'df_date_item' is not defined

# 히스토그램

In [ ]:
fig = px.histogram(df_total, x="casedate_full")
fig.show()

In [ ]:
fig = px.histogram(df_total, x="casedate_full", color="category",
                  color_discrete_sequence=px.colors.qualitative.Plotly)
fig.show()

In [ ]:
fig = px.histogram(df_total, x="number_miss")
fig.show()

In [ ]:
fig = px.histogram(df_total, x="number_miss", color="category")
fig.show()

In [ ]:
fig = px.histogram(df_total, x="number_miss", color="address_sido")
fig.show()

In [ ]:
fig = px.histogram(df_total, x="address_sido", color="category")
fig.show()

# 파이차트: 물건종류별 비율

In [ ]:
fig = px.pie(df_total, names="category")
fig.show()

In [ ]:
fig = px.pie(df_total[df_total['address_sido']=='서울특별시'], names="category")
fig.show()

In [ ]:
fig = px.pie(df_total[df_total['address_sido']=='경기도'], names="category")
fig.show()

In [ ]:
fig = px.pie(df_total, names="address_sido")
fig.show()

# 현재 경매 시장에 나와있는 부동산의 감정가 총액 2386억

In [ ]:
df_total['price_estimate'].sum() /10e8

# 현재 경매 시장에 나와있는 부동산의 최저입찰가 총액 1747억

In [ ]:
df_total['price_bidding'].sum() /10e8

# 평당 가격

In [ ]:
df_total['price_estimate'].sum()

In [ ]:
df_total['area_py'].sum()

In [ ]:
df_total['price_estimate'].sum()/df_total['area_py'].sum()

In [ ]:
df_total[df_total['category']=='아파트']['price_estimate'].sum()/df_total[df_total['category']=='아파트']['area_py'].sum()

In [ ]:
df_total[df_total['category']=='전답']['price_estimate'].sum()/df_total[df_total['category']=='전답']['area_py'].sum()

In [ ]:
def getPricePerPy_category(nameCategory):
    if df_total[df_total['category']==nameCategory]['area_py'].sum() != 0:
        return int(df_total[df_total['category']==nameCategory]['price_estimate'].sum()/df_total[df_total['category']==nameCategory]['area_py'].sum())
    else:
        return 0

In [ ]:
df_total['category'].values

In [ ]:
np.nan

In [ ]:
dict_955 = {}
for name in df_total['category'].values:
    if name not in [np.nan, '자동차', '중기']:
        dict_955[name] = getPricePerPy_category(name)
dict_955

In [ ]:
list(dict_955.keys())

In [ ]:
dict_955.values()

In [ ]:
df_total[df_total['address_sido']=='서울특별시']['price_estimate'].sum()/df_total[df_total['address_sido']=='서울특별시']['area_py'].sum()

In [ ]:
df_total[df_total['address_sido']=='경상남도']['price_estimate'].sum()/df_total[df_total['address_sido']=='경상남도']['area_py'].sum()

In [27]:
def getPricePerPy_region(nameRegion):
    return df_total[df_total['address_sido']==nameRegion]['price_estimate'].sum()/df_total[df_total['address_sido']==nameRegion]['area_py'].sum()

In [28]:
import pandas as pd

data = {'다가구주택': 8277785, '아파트': 14629771, '대지': 1326169,
        '다세대': 14771646, '상가': 13064833, '임야': 55900,
        '근린시설': 7443154, '기타': 2037723, '오피스텔': 14675840,
        '연립주택': 10714156, '단독주택': 4295468, '전답': 409345}

df_areaperpy_category = pd.DataFrame.from_dict(data, orient='index', columns=['price per py'])
df_areaperpy_category = df_areaperpy_category.reset_index().rename(columns={'index': 'category'})
df_areaperpy_category

   category  price per py
0     다가구주택       8277785
1       아파트      14629771
2        대지       1326169
3       다세대      14771646
4        상가      13064833
5        임야         55900
6      근린시설       7443154
7        기타       2037723
8      오피스텔      14675840
9      연립주택      10714156
10     단독주택       4295468
11       전답        409345

In [ ]:
fig = px.bar(df_areaperpy_category, x="category", y="price per py")
fig.show()

In [ ]:
fig = px.scatter(df_total, x="price_estimate", y="category",  color="address_sido")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.show()

In [ ]:
fig = px.colors.qualitative.swatches()
fig.show()

In [ ]:
fig = px.scatter(df_total, x="price_estimate", y="area",  color="address_sido")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.show()

In [ ]:
fig = px.scatter(df_total[df_total['address_sido']=='서울특별시'], x="price_estimate", y="area", hover_name="case_number")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.show()

In [ ]:
df_temp = df_total.copy()[~df_total['case_number'].isin(['2022타경110835', '2021타경104994', '2021타경111633'])]

In [ ]:
fig = px.scatter(df_temp[df_temp['address_sido']=='서울특별시'], x="price_estimate", y="area", color="category", hover_name="case_number")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.update_layout(template="simple_white")
fig.show()

In [ ]:
# area, price를 슬라이드로 만들기

In [ ]:
fig = px.scatter(df_temp[df_temp['category']=='아파트'], x="price_estimate", y="area", color="address_sido", hover_name="case_number")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.show()

In [ ]:
df=df_total

In [ ]:
import plotly.io as pio

templates = pio.templates

print(templates)

In [ ]:
fig = px.scatter(df_temp[df_temp['address_sido']=='서울특별시'], x="price_estimate", y="area", color="category", hover_name="case_number")
fig.update_layout(xaxis=dict(rangeslider_visible=True))
fig.update_layout(template="gridon")

fig.add_trace(go.Scatter(
    x=x,
    y=y,
    mode='markers',
    marker=dict(
        size=10,
        sizemode='diameter',
        sizeref=0.1,
        color='blue'
    )
))

fig.show()

In [ ]:
exdf = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eva'],
    'age': [24, 32, 41, 19, 28],
    'gender': ['female', 'male', 'male', 'male', 'female'],
    'score': [80, 92, 70, 85, 78]
})
exdf

In [ ]:
import plotly.graph_objs as go
import numpy as np

# 데이터 생성
np.random.seed(42)
x = np.random.normal(loc=0, scale=1, size=1000)
y = np.random.normal(loc=0, scale=1, size=1000)

# scatter plot 그리기
fig = go.Figure(go.Scatter(
    x=x,
    y=y,
    mode='markers',
    marker=dict(
        size=10,
        sizemode='diameter',
        sizeref=0.1 * np.max(np.abs(x - np.mean(x))) / np.sqrt(len(x)),
        opacity=0.5,
        color='blue'
    )
))
fig.show()

# 가격 면적같은거 비닝하기!!!!

In [ ]:
df_total[df_total['category']=='자동차']

In [ ]:
df_total[df_total['category']=='중기']

In [ ]:
df_total['address_sido'].isna().sum()

In [ ]:
df_total

In [ ]:
df_total[~df_total['category'].isin(['자동차', '중기'])]

# 주소 없는 물건 지운 데이터프레임: df_wo_nan

In [ ]:
df_wo_nan = df_total[~df_total['address_full'].isin([np.nan])]
df_wo_nan

In [ ]:
df_wo_nan['address_full'].isna().sum()

In [ ]:
# import plotly.graph_objects as go

# fig = go.Figure()
# z
# # 위경도 데이터
# lat = [37.5665, 35.1796, 37.4602, 35.9078]
# lon = [126.9780, 129.0756, 126.4407, 127.7669]
# text = ['서울', '부산', '대전', '서울']

# # 지도 설정
# fig.add_trace(
#     go.Scattermapbox(
#         lat=lat,
#         lon=lon,
#         mode='markers',
#         marker=go.scattermapbox.Marker(size=10),
#         text=text,
#         showlegend=False
#     )
# )

# fig.update_layout(
#     mapbox=dict(
#         accesstoken='pk.eyJ1IjoiZGFucGFyazEiLCJhIjoiY2xmbDE3bHdhMDBuYzQyazAwZ3drdjB5MCJ9.Fw_oMdE216mHCPZ2s273Xw',
#         bearing=0,
#         center=dict(lat=36.5, lon=127.5),
#         pitch=0,
#         zoom=6,
#         style='light'
#     ),
# )

# # 지도 출력
# fig.show()

In [ ]:
df_bar_address_number = df_wo_nan.groupby('address_sido').size().reset_index(name="number").sort_values(by="number", ascending=False, ignore_index = True)

In [ ]:
import plotly.graph_objects as go 

fig = go.Figure(data=[
    go.Bar(x=df_bar_address_number['address_sido'], y=df_bar_address_number['number'])
])

fig.show()

In [ ]:
import plotly.graph_objs as go
import plotly.express as px

iris = px.data.iris()

fig = go.Figure()
for species in iris['species'].unique():
    df = iris[iris['species'] == species]
    fig.add_trace(go.Scatter(
        x=df['sepal_width'], y=df['sepal_length'],
        mode='markers', marker=dict(color=[px.colors.qualitative.Plotly[i] for i in range(3)]),
        name=species
    ))

fig.show()

In [ ]:
str(10000000)

In [ ]:
'10.0'[-2:]

In [ ]:
import vega_datasets

print(vega_datasets.__version__)